# Documentation Exports
ltxpng
*.html
*.txt
*.tex
*.pdf

# The virtual machine itself
*.qcow

# Ignore the shell runner
sh-runner

# Ignore serialized lisp objects
*.store
results

# Ignore log files
logs
