# Documentation Exports
ltxpng
*.html
*.txt
*.tex
*.pdf
*.cfg
*.dat

# The virtual machine itself
*.qcow

# Ignore the shell runner
sh-runner

# Ignore serialized lisp objects
*.store
results

# Ignore R cruft
.Rhistory

# Ignore log files
logs
